/**
 * Additional styles applied only to the WordPress editor
 *
 * It is sometimes necessary to add additional styles for the WordPress block
 * editor, generally to improve the editor experience. For example, you may
 * want to tweak the appearance of the title area to better match your site’s
 * front end, or you may need to change the appearance of a block to better
 * distinguish between its fields while editing.
 *
 * Those styles should be added in this file, and they will be added only to
 * the block editor.
 */

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./config.css";

@plugin "@tailwindcss/typography";

.block-editor-block-list__layout > * {
    /* Content width from the `theme.json` file */
    @apply max-w-content mx-auto;
}

.block-editor-block-list__layout > .alignwide,
.block-editor-block-list__layout > .alignfull {
    @apply max-w-wide;
}

.editor-styles-wrapper picture img {
    @apply max-h-full h-full;
}

.editor-styles-wrapper a {
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: unset;
    color: unset;
}

p {
    @apply mb-14;
}

.acf-innerblocks-container {
    @apply mx-auto;
}
